<h1 id="align">Align</h1>
<p class="uk-text-lead">Control the alignment of inline elements depending on the viewport size.</p>

<h2 id="usage">Usage</h2>
<p>To align images or other elements with spacing between the text and the element, add one of these classes.</p>
<table>
<thead>
<tr>
<th style="text-align:left">Class</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>.uk-align-left</code></td>
<td style="text-align:left">Floats the element to the left and creates right and bottom margin.</td>
</tr>
<tr>
<td style="text-align:left"><code>.uk-align-right</code></td>
<td style="text-align:left">Floats the element to the right and creates left and bottom margin.</td>
</tr>
<tr>
<td style="text-align:left"><code>.uk-align-center</code></td>
<td style="text-align:left">Centers the element and creates bottom margin.</td>
</tr>
</tbody>
</table>
<pre><code class="lang-html">&lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"uk-align-left"</span> src=<span class="hljs-string">""</span> alt=<span class="hljs-string">""</span>&gt;
</code></pre>
<pre><code class="lang-example">&lt;div <span class="hljs-keyword">class</span>=<span class="hljs-string">"uk-panel"</span>&gt;
    &lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"uk-align-left uk-margin-remove-adjacent"</span> src=<span class="hljs-string">"images/light.jpg"</span> width=<span class="hljs-string">"225"</span> height=<span class="hljs-string">"150"</span> alt=<span class="hljs-string">"Example image"</span>&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <span class="hljs-keyword">do</span> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <span class="hljs-keyword">ex</span> ea commodo consequat.&lt;/p&gt;
    &lt;p&gt;Duis aute irure dolor <span class="hljs-keyword">in</span> reprehenderit <span class="hljs-keyword">in</span> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt <span class="hljs-keyword">in</span> culpa <span class="hljs-keyword">qui</span> officia deserunt mollit anim id <span class="hljs-keyword">est</span> laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <span class="hljs-keyword">do</span> eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
&lt;/div&gt;
</code></pre>
<hr>
<h2 id="responsive">Responsive</h2>
<p>UIkit provides a number of responsive alignment classes. Basically, they work just like the usual alignment classes, except that they have suffixes that represent the breakpoint from which they come to effect.</p>
<table>
<thead>
<tr>
<th style="text-align:left">Class</th>
<th style="text-align:left">Description</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><code>.uk-align-left@s</code><br> <code>.uk-align-right@s</code></td>
<td style="text-align:left">Only affects device widths of <em>640px</em> and higher.</td>
</tr>
<tr>
<td style="text-align:left"><code>.uk-align-left@m</code><br> <code>.uk-align-right@m</code></td>
<td style="text-align:left">Only affects device widths of <em>960px</em> and higher.</td>
</tr>
<tr>
<td style="text-align:left"><code>.uk-align-left@l</code><br> <code>.uk-align-right@l</code></td>
<td style="text-align:left">Only affects device widths of <em>1200px</em> and higher.</td>
</tr>
<tr>
<td style="text-align:left"><code>.uk-align-left@xl</code><br> <code>.uk-align-right@xl</code></td>
<td style="text-align:left">Only affects device widths of <em>1600px</em> and higher.</td>
</tr>
</tbody>
</table>
<pre><code class="lang-html">&lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"uk-align-center uk-align-right@m"</span> src=<span class="hljs-string">""</span> alt=<span class="hljs-string">""</span>&gt;
</code></pre>
<pre><code class="lang-example">&lt;div <span class="hljs-keyword">class</span>=<span class="hljs-string">"uk-panel"</span>&gt;
    &lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"uk-align-center uk-align-right@m uk-margin-remove-adjacent"</span>  src=<span class="hljs-string">"images/light.jpg"</span> width=<span class="hljs-string">"225"</span> height=<span class="hljs-string">"150"</span> alt=<span class="hljs-string">"Example image"</span>&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <span class="hljs-keyword">do</span> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <span class="hljs-keyword">ex</span> ea commodo consequat.&lt;/p&gt;
    &lt;p&gt;Duis aute irure dolor <span class="hljs-keyword">in</span> reprehenderit <span class="hljs-keyword">in</span> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt <span class="hljs-keyword">in</span> culpa <span class="hljs-keyword">qui</span> officia deserunt mollit anim id <span class="hljs-keyword">est</span> laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <span class="hljs-keyword">do</span> eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
&lt;/div&gt;
</code></pre>
